<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
          {{landlord.name}}
        </h2>
    </div>
    <div class="panel-body">
        <p>Address: {{landlord.address}}</p>
        <p>Telephone: {{landlord.telephone}}</p>
      {{#link-to 'landlords.show' landlord}}More details{{/link-to}}
    </div>
</div>