.hero{
  margin-top: 20px;
}
.rent-amount{
  font-size: 200%;
}
.rent-period{
  font-style: italic;
  font-size: 150%;
}
.rental-property-type{
  font-size: 200%;
}
.rental-bedrooms{
  font-size: 125%;
}
.rental-image{
  width: 100%;
}
